# CT daily EDA

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

import pyspark
from pyspark.sql import SparkSession
from pyspark.sql import functions as F
from pyspark.sql.window import Window

In [2]:
spark = SparkSession \
    .builder \
    .appName("Learning Spark") \
    .getOrCreate()

day = "20231211"

In [3]:
df = spark.read.json(f"harvester/hireline/bigharvey-HIRELINE_MX-{day}_*-rv0_0_1.jsonl.gz")
#df = spark.read.json(f"harvester/ct/bigharvey-CT_MX-{day}_*-rv0_0_9.jsonl.gz")

In [4]:
df.printSchema()

root
 |-- crawler: string (nullable = true)
 |-- identifier: string (nullable = true)
 |-- jobposting: struct (nullable = true)
 |    |-- @context: string (nullable = true)
 |    |-- @type: string (nullable = true)
 |    |-- applicantLocationRequirements: struct (nullable = true)
 |    |    |-- @type: string (nullable = true)
 |    |    |-- name: string (nullable = true)
 |    |-- baseSalary: struct (nullable = true)
 |    |    |-- @type: string (nullable = true)
 |    |    |-- currency: string (nullable = true)
 |    |    |-- value: struct (nullable = true)
 |    |    |    |-- @type: string (nullable = true)
 |    |    |    |-- maxValue: string (nullable = true)
 |    |    |    |-- minValue: string (nullable = true)
 |    |    |    |-- unitText: string (nullable = true)
 |    |-- datePosted: string (nullable = true)
 |    |-- description: string (nullable = true)
 |    |-- educationRequirements: string (nullable = true)
 |    |-- employmentType: string (nullable = true)
 |    |-- experienceRequirements: string (nullable = true)
 |    |-- hiringOrganization: struct (nullable = true)
 |    |    |-- @type: string (nullable = true)
 |    |    |-- logo: string (nullable = true)
 |    |    |-- name: string (nullable = true)
 |    |    |-- sameAs: string (nullable = true)
 |    |    |-- url: string (nullable = true)
 |    |-- industry: string (nullable = true)
 |    |-- jobLocation: struct (nullable = true)
 |    |    |-- @type: string (nullable = true)
 |    |    |-- address: struct (nullable = true)
 |    |    |    |-- @type: string (nullable = true)
 |    |    |    |-- addressCountry: string (nullable = true)
 |    |    |    |-- addressLocality: string (nullable = true)
 |    |    |    |-- addressRegion: string (nullable = true)
 |    |    |    |-- postalCode: string (nullable = true)
 |    |    |    |-- streetAddress: string (nullable = true)
 |    |-- jobLocationType: string (nullable = true)
 |    |-- title: string (nullable = true)
 |    |-- validThrough: string (nullable = true)
 |    |-- workHours: string (nullable = true)
 |-- scraped_at: string (nullable = true)
 |-- search_engine_type: string (nullable = true)
 |-- url: string (nullable = true)
 |-- uuid: string (nullable = true)
 |-- version: string (nullable = true)

In [5]:
df.show(1, vertical=True, truncate=False)

-RECORD 0------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
 crawler            | HirelineCrawler
 identifier         | 102525
 jobposting         | {http://schema.org/, JobPosting, {Country, México}, {MonetaryAmount, MXN, {QuantitativeValue, 0, 0, MONTH}}, 2023-12-11, Crossbridge Global\nPartners exists to bridge the gap to excellent technology resources in LATAM\nand US.&nbsp;We are looking for\na&nbsp;Mid\nFull Stack. The ideal candidate must have demonstrable and\nstrong experience using the following technologies.&nbsp;100%\nRemote/Long term/Full-time.&nbsp;Requirements:·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 3-4 years of experience as a software\ndeveloper·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Strong experience with Java,·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Strong experience working with spring\n&amp; spring boot·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 2 years of experience with JavaScript\nusing React or some other front-end technology·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\nNextJS preferred·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\nStrong experience with Agile development using tools\nlike Jira, Confluence·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\nBonus knowledge of distributed systems such as\nKafka, RabbitMQ·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\nDocker and Kubernetes experiences are desired·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Mac or Linux machine, (No Windows)·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; AWS experience&nbsp;If you meet the core requirements of the position do\nnot hesitate to apply over here.\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n&nbsp;, , Empleado de tiempo completo, , {Organization, https://d31i9b8skgubvn.cloudfront.net/folder/logos/803_logo_dzuygGoOYjlPB9uL.png, Crossbridge, https://hireline.io/remoto/bolsa-de-trabajo-en-crossbridge, https://hireline.io/remoto/empleos/mid-full-stack-developer-javareact/102525}, Tecnologías de la Información, {Place, {PostalAddress, México, , Home Office, , }}, TELECOMMUTE, Mid Full Stack Developer (Java/React), 2024-03-10, }
 scraped_at         | 2023-12-11 12:59:50.182498
 search_engine_type | JDP
 url                | https://hireline.io/remoto/empleos/mid-full-stack-developer-javareact/102525
 uuid               | beab3750-ef4b-4777-8f75-bcf15e68b5b6
 version            | 0.0.1
only showing top 1 row

### Registros Totales

In [6]:
record_count = df.count()
df.count()

1563

### Registros Únicos por Identifier (asume único por jobad)

In [7]:
df.dropDuplicates(["identifier"]).count()

1563

## Ubicación

### Estados

#### Distribución de vacantes por estado con suma acumulada

In [8]:
state_count = df.groupby("jobposting.JobLocation.address.addressLocality").count()
state_count_p = state_count.withColumn("perc", F.col("count") / record_count)
window = Window.orderBy(F.col("perc").desc()).rowsBetween(Window.unboundedPreceding, Window.currentRow)
state_count_p = state_count_p.withColumn("cumsum", F.sum(F.col("perc")).over(window))
state_count_p.show(33)

+--------------------+-----+--------------------+------------------+
|     addressLocality|count|                perc|            cumsum|
+--------------------+-----+--------------------+------------------+
|                    |  429|  0.2744721689059501|0.2744721689059501|
|       Benito Juárez|  290|  0.1855406269993602|0.4600127959053103|
|           Querétaro|  110| 0.07037747920665387|0.5303902751119641|
|      Miguel Hidalgo|  101| 0.06461932181701856|0.5950095969289827|
|           Monterrey|   94|0.060140754958413305| 0.655150351887396|
|             Tlalpan|   89| 0.05694177863083813|0.7120921305182342|
|         Guadalajara|   81| 0.05182341650671785| 0.763915547024952|
|          Cuauhtémoc|   52| 0.03326935380678183|0.7971849008317339|
|Cuajimalpa de Mor...|   42|0.026871401151631478|0.8240563019833653|
|      Álvaro Obregón|   41|0.026231605886116442|0.8502879078694817|
|            Culiacán|   27| 0.01727447216890595|0.8675623800383877|
|            Coyoacán|   22|0.014075495841330775|0.8816378758797184|
|San Pedro Garza G...|   18|0.011516314779270634| 0.893154190658989|
| Naucalpan de Juárez|   17|0.010876519513755598|0.9040307101727446|
|             Tijuana|   15|0.009596928982725527|0.9136276391554702|
|             Zapopan|   14|0.008957133717210493|0.9225847728726807|
|                León|   14|0.008957133717210493|0.9315419065898912|
|              Puebla|   13|0.008317338451695458|0.9398592450415867|
|         Solidaridad|   12|0.007677543186180422|0.9475367882277671|
|     San Luis Potosí|    9|0.005758157389635317|0.9532949456174025|
| Venustiano Carranza|    8|0.005118362124120281|0.9584133077415228|
|   Gustavo A. Madero|    5|0.003198976327575176|0.9616122840690979|
|      Santa Catarina|    4|0.002559181062060...| 0.964171465131158|
|      Aguascalientes|    4|0.002559181062060...|0.9667306461932181|
|San Nicolás de lo...|    4|0.002559181062060...|0.9692898272552782|
|           Guadalupe|    3|0.001919385796545...|0.9712092130518234|
|            Mazatlán|    3|0.001919385796545...|0.9731285988483686|
|          Hermosillo|    3|0.001919385796545...|0.9750479846449137|
|             Torreón|    3|0.001919385796545...|0.9769673704414589|
|             Apodaca|    3|0.001919385796545...| 0.978886756238004|
|              Mérida|    3|0.001919385796545...|0.9808061420345492|
|        Huixquilucan|    3|0.001919385796545...|0.9827255278310943|
| Tlalnepantla de Baz|    2|0.001279590531030...|0.9840051183621245|
+--------------------+-----+--------------------+------------------+
only showing top 33 rows

## Industria (Giro)

In [9]:
print(f"Industrias únicas: {df.select('jobposting.industry').distinct().count()}")

Industrias únicas: 1

In [10]:
cat_count = df.groupby("jobposting.industry").count()
cat_count = cat_count.withColumn("pct", F.col("count") / F.lit(record_count))\
            .sort(F.col("count").desc())
window = Window.orderBy(F.col("pct").desc()).rowsBetween(Window.unboundedPreceding, Window.currentRow)
cat_count = cat_count.withColumn("cumsum", F.sum(F.col("pct")).over(window))
cat_count.show(25, truncate=False)

+-----------------------------+-----+---+------+
|industry                     |count|pct|cumsum|
+-----------------------------+-----+---+------+
|Tecnologías de la Información|1563 |1.0|1.0   |
+-----------------------------+-----+---+------+

## Compañias

In [11]:

print(f"Número de nombres de compañías: {df.select('jobposting.hiringOrganization.name').distinct().count()}")
company_count = df.groupby('jobposting.hiringOrganization.name').count()\
                .withColumn('pct', F.col('count') / record_count)\
                .withColumn('cumsum', F.sum(F.col('pct')).over(window))\
                .sort(F.col("count").desc())

company_count.show(30, truncate=False)

Número de nombres de compañías: 184
+----------------------------------+-----+--------------------+-------------------+
|name                              |count|pct                 |cumsum             |
+----------------------------------+-----+--------------------+-------------------+
|Capital Empresarial Horizonte     |371  |0.23736404350607807 |0.23736404350607807|
|Confidencial                      |80   |0.05118362124120281 |0.2885476647472809 |
|Thomson Reuters                   |63   |0.04030710172744722 |0.3288547664747281 |
|Grupo Salinas                     |46   |0.02943058221369162 |0.3582853486884197 |
|EmployIT                          |44   |0.02815099168266155 |0.38643634037108127|
|OCDTECH                           |40   |0.025591810620601407|0.41202815099168266|
|EON IGNITING BUSINESS             |37   |0.023672424824056303|0.43570057581573896|
|DEINTEC                           |37   |0.023672424824056303|0.45937300063979525|
|TESYS 21                          |33   |0.02111324376199616 |0.4804862444017914 |
|Corporativo Coppel                |33   |0.02111324376199616 |0.5015994881637875 |
|THE ROCKET CODE                   |29   |0.018554062699936022|0.5201535508637235 |
|AsTecI                            |28   |0.017914267434420986|0.5380678182981445 |
|Branchbit                         |24   |0.015355086372360844|0.5534229046705054 |
|Cognizant Technology Solutions    |24   |0.015355086372360844|0.5687779910428662 |
|Pepsico                           |22   |0.014075495841330775|0.5828534868841969 |
|Softtek                           |22   |0.014075495841330775|0.5969289827255276 |
|Getecsa                           |20   |0.012795905310300703|0.6097248880358284 |
|Luxoft                            |16   |0.010236724248240563|0.6199616122840689 |
|IM Consulting                     |15   |0.009596928982725527|0.6295585412667944 |
|Santander                         |15   |0.009596928982725527|0.63915547024952   |
|Azka IT Consulting                |14   |0.008957133717210493|0.6481126039667305 |
|Grupo Xcaret                      |14   |0.008957133717210493|0.6570697376839411 |
|LTIMindtree                       |13   |0.008317338451695458|0.6653870761356365 |
|ITCHOME                           |12   |0.007677543186180422|0.6730646193218169 |
|Accenture                         |11   |0.007037747920665387|0.6801023672424823 |
|Mobiik                            |11   |0.007037747920665387|0.6871401151631477 |
|Deloitte Delivery Nearshore México|10   |0.006397952655150352|0.693538067818298  |
|Valuglobal Consultoria            |10   |0.006397952655150352|0.6999360204734483 |
|ALTEN INGENIERIA MEXICO           |10   |0.006397952655150352|0.7063339731285986 |
|Talent2Win                        |9    |0.005758157389635317|0.712092130518234  |
+----------------------------------+-----+--------------------+-------------------+
only showing top 30 rows

## Salarios

In [13]:
salary_f = "jobposting.baseSalary.value"
df.select(F.col(salary_f).cast("double")).summary().show()
df.select(salary_f).min()

AnalysisException: [DATATYPE_MISMATCH.CAST_WITHOUT_SUGGESTION] Cannot resolve "CAST(jobposting.baseSalary.value AS DOUBLE)" due to data type mismatch: cannot cast "STRUCT<`@type`: STRING, maxValue: STRING, minValue: STRING, unitText: STRING>" to "DOUBLE".;
'Project [unresolvedalias(cast(jobposting#10.baseSalary.value as double), None)]
+- Relation [crawler#8,identifier#9,jobposting#10,scraped_at#11,search_engine_type#12,url#13,uuid#14,version#15] json

In [ ]:
df.where(f"{salary_f} is null").count()

La proporción de vacantes sin salario es bastante independiente de directApply: 

(si directApply == False implica agregadas, estas tienen salario de todas formas, a diferencia de OCC)

In [ ]:
df.withColumn("has_salary", F.when(F.col(salary_f).isNull(), False).otherwise(True)).groupby("jobposting.directApply").pivot("has_salary").count().show()

In [ ]:
#seleccionar rangos para eliminar outliers - los percentiles son ajustados a algo que permita comparar con OCC
outlier_limits = df.select(F.percentile_approx(salary_f, [0.05, 0.95]))
outlier_min, outlier_max = outlier_limits.collect()[0][0]
outlier_limits.show()

In [ ]:
salary = df.select(salary_f).where(f"{salary_f} >= {outlier_min} and {salary_f} <= {outlier_max}")
salary.summary().show()