In [1]:
import pandas as pd
import matplotlib.pyplot as plt

import pyspark
from pyspark.sql import SparkSession
from pyspark.sql import functions as F

spark = SparkSession \
    .builder \
    .appName("Learning Spark") \
    .getOrCreate()

df = spark.read.json("harvester/ct/bigharvey-CT*-202306*.jsonl.gz")

In [2]:
df.printSchema()

root
 |-- crawler: string (nullable = true)
 |-- debug_steps: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- identifier: string (nullable = true)
 |-- jobposting: string (nullable = true)
 |-- scraped_at: string (nullable = true)
 |-- search_engine_type: string (nullable = true)
 |-- url: string (nullable = true)
 |-- uuid: string (nullable = true)
 |-- version: string (nullable = true)

In [3]:
df.count()

3154275

In [4]:
spark.sparkContext.defaultParallelism, df.rdd.getNumPartitions()

(4, 19)

In [5]:
spark.conf.get("spark.sql.adaptive.enabled")

'true'

In [6]:
#import json
#s = json.loads((df.select("jobposting").where("version = '0.0.9'").limit(1).first()['jobposting']))
jsonobj = spark.read.json("jobposting_sample.json", multiLine=True)
schema = jsonobj.schema
schema

StructType([StructField('@context', StringType(), True), StructField('@type', StringType(), True), StructField('baseSalary', StructType([StructField('@context', StringType(), True), StructField('@type', StringType(), True), StructField('currency', StringType(), True), StructField('value', StructType([StructField('@context', StringType(), True), StructField('@type', StringType(), True), StructField('unitText', StringType(), True), StructField('value', StringType(), True)]), True)]), True), StructField('datePosted', StringType(), True), StructField('description', StringType(), True), StructField('directApply', BooleanType(), True), StructField('employmentType', StringType(), True), StructField('hiringOrganization', StructType([StructField('@context', StringType(), True), StructField('@type', StringType(), True), StructField('logo', StringType(), True), StructField('name', StringType(), True)]), True), StructField('identifier', StructType([StructField('@context', StringType(), True), StructField('@type', StringType(), True), StructField('name', StringType(), True), StructField('value', StringType(), True)]), True), StructField('industry', StringType(), True), StructField('jobLocation', StructType([StructField('@context', StringType(), True), StructField('@type', StringType(), True), StructField('address', StructType([StructField('@context', StringType(), True), StructField('@type', StringType(), True), StructField('addressCountry', StringType(), True), StructField('addressLocality', StringType(), True), StructField('addressRegion', StringType(), True)]), True)]), True), StructField('salaryCurrency', StringType(), True), StructField('title', StringType(), True), StructField('url', StringType(), True), StructField('validThrough', StringType(), True)])

In [7]:
df.where("version = '0.0.7'").withColumn("jp", F.from_json(F.col("jobposting"), schema)).printSchema()

root
 |-- crawler: string (nullable = true)
 |-- debug_steps: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- identifier: string (nullable = true)
 |-- jobposting: string (nullable = true)
 |-- scraped_at: string (nullable = true)
 |-- search_engine_type: string (nullable = true)
 |-- url: string (nullable = true)
 |-- uuid: string (nullable = true)
 |-- version: string (nullable = true)
 |-- jp: struct (nullable = true)
 |    |-- @context: string (nullable = true)
 |    |-- @type: string (nullable = true)
 |    |-- baseSalary: struct (nullable = true)
 |    |    |-- @context: string (nullable = true)
 |    |    |-- @type: string (nullable = true)
 |    |    |-- currency: string (nullable = true)
 |    |    |-- value: struct (nullable = true)
 |    |    |    |-- @context: string (nullable = true)
 |    |    |    |-- @type: string (nullable = true)
 |    |    |    |-- unitText: string (nullable = true)
 |    |    |    |-- value: string (nullable = true)
 |    |-- datePosted: string (nullable = true)
 |    |-- description: string (nullable = true)
 |    |-- directApply: boolean (nullable = true)
 |    |-- employmentType: string (nullable = true)
 |    |-- hiringOrganization: struct (nullable = true)
 |    |    |-- @context: string (nullable = true)
 |    |    |-- @type: string (nullable = true)
 |    |    |-- logo: string (nullable = true)
 |    |    |-- name: string (nullable = true)
 |    |-- identifier: struct (nullable = true)
 |    |    |-- @context: string (nullable = true)
 |    |    |-- @type: string (nullable = true)
 |    |    |-- name: string (nullable = true)
 |    |    |-- value: string (nullable = true)
 |    |-- industry: string (nullable = true)
 |    |-- jobLocation: struct (nullable = true)
 |    |    |-- @context: string (nullable = true)
 |    |    |-- @type: string (nullable = true)
 |    |    |-- address: struct (nullable = true)
 |    |    |    |-- @context: string (nullable = true)
 |    |    |    |-- @type: string (nullable = true)
 |    |    |    |-- addressCountry: string (nullable = true)
 |    |    |    |-- addressLocality: string (nullable = true)
 |    |    |    |-- addressRegion: string (nullable = true)
 |    |-- salaryCurrency: string (nullable = true)
 |    |-- title: string (nullable = true)
 |    |-- url: string (nullable = true)
 |    |-- validThrough: string (nullable = true)

In [8]:
df.where("version = '0.0.9'").withColumn("jp", F.from_json(F.col("jobposting"), schema)).select("jp.url").count()

1497858

In [9]:
df.where("version = '0.0.9'").withColumn("jp", F.from_json(F.col("jobposting"), schema)).select("jp.url").distinct().count()

175775

In [ ]:
jps = df.where("version = '0.0.9'").withColumn("jp", F.from_json(F.col("jobposting"), schema))

In [30]:
jps.dropDuplicates(["identifier"]).count()

175795

In [28]:
jps.select("identifier").distinct().count()

175795

In [10]:
df.where("version = '0.0.9'").withColumn("jp", F.from_json(F.col("jobposting"), schema)).select("uuid").distinct().count()

1497858

In [32]:
jps = df.where("version = '0.0.9'")\
    .withColumn("jp", F.from_json(F.col("jobposting"), schema))\
    .dropDuplicates(["identifier"])
dirApps = jps.groupby("jp.directApply").count().toPandas().set_index("directApply")
dirApps

              count
directApply
True         140693
False         35102

In [33]:
dirApps.div(dirApps.sum(axis=0), axis=1)

                count
directApply
True         0.800324
False        0.199676

In [36]:
jps.select("jp.url").where("jp.directApply=0").show(truncate=False)

+----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|url                                                                                                                                                                               |
+----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|https://mx.computrabajo.com/ofertas-de-trabajo/oferta-de-trabajo-de-gerente-de-cedis-chihuahua-en-chihuahua-002E37196B79FFBE61373E686DCF3405                                      |
|https://mx.computrabajo.com/ofertas-de-trabajo/oferta-de-trabajo-de-capturista-zapopan-en-zapopan-014635CB94529D2761373E686DCF3405                                                |
|https://mx.computrabajo.com/ofertas-de-trabajo/oferta-de-trabajo-de-tecnico-laboratorista-para-toma-de-muestra-en-miguel-hidalgo-01493D1F083FA9E861373E686DCF3405                 |
|https://mx.computrabajo.com/ofertas-de-trabajo/oferta-de-trabajo-de-subgerente-de-tienda-neto-azcapotzalco-en-azcapotzalco-018BEFC3E86F3C6561373E686DCF3405                       |
|https://mx.computrabajo.com/ofertas-de-trabajo/oferta-de-trabajo-de-vendedores-de-sucursal--zona-atizapan-de-zaragoza-en-atizapan-de-zaragoza-01A384A9C361AAE761373E686DCF3405    |
|https://mx.computrabajo.com/ofertas-de-trabajo/oferta-de-trabajo-de-gerente-regional-atlacomulco-experiencia-giro-retail-en-atlacomulco-01FCD235310426A261373E686DCF3405          |
|https://mx.computrabajo.com/ofertas-de-trabajo/oferta-de-trabajo-de-auxiliar-contable-ref-ur-0022-en-queretaro-0231CDAA1BCAF89661373E686DCF3405                                   |
|https://mx.computrabajo.com/ofertas-de-trabajo/oferta-de-trabajo-de-ejecutivoa-de-prospeccion-ventas-educativas-en-villahermosa-023CA0DF419AD96C61373E686DCF3405                  |
|https://mx.computrabajo.com/ofertas-de-trabajo/oferta-de-trabajo-de-coordinador-de-seguridad-e-higiene-giro-en-construccion-en-san-andres-cholula-024827C412DF99A561373E686DCF3405|
|https://mx.computrabajo.com/ofertas-de-trabajo/oferta-de-trabajo-de-customer-service-en-azcapotzalco-03252A7B0698332461373E686DCF3405                                             |
|https://mx.computrabajo.com/ofertas-de-trabajo/oferta-de-trabajo-de-cajera-banco-azteca-los-pinos-en-tijuana-0334169D94D28D5461373E686DCF3405                                     |
|https://mx.computrabajo.com/ofertas-de-trabajo/oferta-de-trabajo-de-laboratorista-o-tecnico-laboratorista-matutino-en-leon-0346C5765AB5FFED61373E686DCF3405                       |
|https://mx.computrabajo.com/ofertas-de-trabajo/oferta-de-trabajo-de-gestor-de-seguridad-industrial-y-ecologia-incubadora-en-merida-03B307B5E95D099E61373E686DCF3405               |
|https://mx.computrabajo.com/ofertas-de-trabajo/oferta-de-trabajo-de-promotor-de-call-centerrecuperacion-en-campo-cancun-en-benito-juarez-03EE58254FBFB2FF61373E686DCF3405         |
|https://mx.computrabajo.com/ofertas-de-trabajo/oferta-de-trabajo-de-gestor-de-cobranza-administrativa-en-tizapan-el-alto-03FF3484B246661A61373E686DCF3405                         |
|https://mx.computrabajo.com/ofertas-de-trabajo/oferta-de-trabajo-de-tecnico-de-mantenimiento-en-queretaro-0410862710CD0BD861373E686DCF3405                                        |
|https://mx.computrabajo.com/ofertas-de-trabajo/oferta-de-trabajo-de-freelance-de-soporte-tecnico-en-autlan-proyecto1-semana-en-autlan-de-navarro-04329CA50A3FF06061373E686DCF3405 |
|https://mx.computrabajo.com/ofertas-de-trabajo/oferta-de-trabajo-de-auxiliar-de-areas-publicas-en-los-cabos-051A579B7164D65C61373E686DCF3405                                      |
|https://mx.computrabajo.com/ofertas-de-trabajo/oferta-de-trabajo-de-asesora-de-ventas-forum-tepic-en-tepic-051F9AED1C4C989F61373E686DCF3405                                       |
|https://mx.computrabajo.com/ofertas-de-trabajo/oferta-de-trabajo-de-ejecutivo-de-ventas-lunes-a-viernes-en-delicias-052BA16A2947F42961373E686DCF3405                              |
+----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
only showing top 20 rows

In [37]:
jps.select("jp.url").where("jp.directApply=1").show(truncate=False)

+----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|url                                                                                                                                                                                                                   |
+----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|https://mx.computrabajo.com/ofertas-de-trabajo/oferta-de-trabajo-de-asesor-de-ventas--altabrisa-merida-en-merida-000DD49C3F808E3961373E686DCF3405                                                                     |
|https://mx.computrabajo.com/ofertas-de-trabajo/oferta-de-trabajo-de-bodegueroa-plaza-galerias-en-aguascalientes-000F3F16DF6495D161373E686DCF3405                                                                      |
|https://mx.computrabajo.com/ofertas-de-trabajo/oferta-de-trabajo-de-especialista-de-desarrollo-de-negocios-en-guadalajara-0011EEAB4B751E9361373E686DCF3405                                                            |
|https://mx.computrabajo.com/ofertas-de-trabajo/oferta-de-trabajo-de-vigilante-sur-centro-poniente-en-cuauhtemoc-001F7EB303A3452E61373E686DCF3405                                                                      |
|https://mx.computrabajo.com/ofertas-de-trabajo/oferta-de-trabajo-de-auxiliar-de-mantenimiento-rol-de-turnos-en-benito-juarez-002B23C03E76D92661373E686DCF3405                                                         |
|https://mx.computrabajo.com/ofertas-de-trabajo/oferta-de-trabajo-de-ingeniero-automatizacion-y-proyectos-en-corregidora-0038A5746EFAAE3361373E686DCF3405                                                              |
|https://mx.computrabajo.com/ofertas-de-trabajo/oferta-de-trabajo-de-gerente-de-restaurante-casual-restaurante-de-comida-mexicana-en-solidaridad-004F1B32B75494F761373E686DCF3405                                      |
|https://mx.computrabajo.com/ofertas-de-trabajo/oferta-de-trabajo-de-disenador-para-stands-9-am-a-6-pm-minimo-un-ano-de-experiencia-en-tlalpan-005440A4490530F361373E686DCF3405                                        |
|https://mx.computrabajo.com/ofertas-de-trabajo/oferta-de-trabajo-de-estilista-terapeuta-en-benito-juarez-005A534F66EEDCA861373E686DCF3405                                                                             |
|https://mx.computrabajo.com/ofertas-de-trabajo/oferta-de-trabajo-de-metepecasesor-financiero-y-ejecutivo-de-terminales-bancarias-en-metepec-005B4C1B743B2F3B61373E686DCF3405                                          |
|https://mx.computrabajo.com/ofertas-de-trabajo/oferta-de-trabajo-de-especialista-de-capacitacion-jr-grupo-marti-tiempo-completo-en-alvaro-obregon-006976FD5589B40061373E686DCF3405                                    |
|https://mx.computrabajo.com/ofertas-de-trabajo/oferta-de-trabajo-de-promotora-vendedor-2500-a-5000-por-semana-aproximadamante-en-guaymas-006E644199726A1661373E686DCF3405                                             |
|https://mx.computrabajo.com/ofertas-de-trabajo/oferta-de-trabajo-de-almacenista-5am-a-10am-se-cuenta-con-transporte-contratacion-inmediata-6223-iztapalapa-parque-finsa-en-iztapalapa-007073AB19D2FEA361373E686DCF3405|
|https://mx.computrabajo.com/ofertas-de-trabajo/oferta-de-trabajo-de-auxiliar-administrativa-y-de-recursos-humanos-en-colima-0070B43C89D2C0C961373E686DCF3405                                                          |
|https://mx.computrabajo.com/ofertas-de-trabajo/oferta-de-trabajo-de-auxiliar-piso-de-ventas-suburbia-paseo-queretaro-en-queretaro-0071FA1671643A8C61373E686DCF3405                                                    |
|https://mx.computrabajo.com/ofertas-de-trabajo/oferta-de-trabajo-de-tecnico-instalador-comitan-chiapas-en-comitan-de-dominguez-0084B37430CD4A0761373E686DCF3405                                                       |
|https://mx.computrabajo.com/ofertas-de-trabajo/oferta-de-trabajo-de-promovendedor-de-campo-10000-hasta-16000-y-comisiones-sin-tope-pagos-semanales-y-prestaciones-de-ley-en-iztacalco-0089DC33E3EE48F361373E686DCF3405|
|https://mx.computrabajo.com/ofertas-de-trabajo/oferta-de-trabajo-de-becario-en-relaciones-laborales-zona-condesa-con-cedula-en-cuauhtemoc-00A6C7E641BE379E61373E686DCF3405                                            |
|https://mx.computrabajo.com/ofertas-de-trabajo/oferta-de-trabajo-de-capturista-de-datos-con-o-sin-experiencia-en-merida-00AD68756E8802D261373E686DCF3405                                                              |
|https://mx.computrabajo.com/ofertas-de-trabajo/oferta-de-trabajo-de-disenador-industrial-ramo-mueblero-en-zapopan-00B8D22DF5E6AD4361373E686DCF3405                                                                    |
+----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
only showing top 20 rows

## Stats

In [ ]:
stats_df = spark.read.json("harvester/ct/*stats.json")
stats_df.printSchema()

In [ ]:
stats_df.toPandas().plot("start_time", "downloader/response_status_count/200")

In [ ]:
df.rdd.mapPartitionsWithIndex(lambda x, it: [(x, sum(1 for _ in it))]).collect()